# Core scientific stack
numpy
matplotlib
pandas
seaborn
scipy
statsmodels

# Machine learning
scikit-learn

# Math / symbolic
sympy
autograd

# Performance
numba

# Automation
pillow
watchdog
apscheduler

# Dev / testing
jupyter
nbmake
ipytest
pyinstrument